<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.esgi.promocare_android">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Promocare_android"
        tools:targetApi="31">
        <activity android:name=".views.CompanyConnexionActivity" />
        <activity android:name=".views.company_annonce.CompanyAnnonceActivity" />
        <activity android:name=".views.company_annonce.create_annonce.ChoseTitle" />
        <activity android:name=".views.company_annonce.create_annonce.ChoseDescription" />
        <activity android:name=".views.company_annonce.create_annonce.ChoseCategory" />
        <activity android:name=".views.company_annonce.create_annonce.ChoseLocation" />
        <activity android:name=".views.company_annonce.create_annonce.ChosePrice" />
        <activity android:name=".views.user_annonce.AnnonceUserActivity"/>
        <activity android:name=".views.user_annonce.AnnonceUserDetailActivity"/>
        <activity
            android:windowSoftInputMode="adjustResize"
            android:name=".views.conversations.user.PostUserFirstConv"
            />
        <activity
            android:name=".views.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>